[submodule "subprojects/luajit/LuaJIT"]
	path = subprojects/luajit/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT
[submodule "subprojects/luarocks/luarocks"]
	path = subprojects/luarocks/luarocks
	url = https://github.com/luarocks/luarocks
[submodule "subprojects/luasocket/luasocket"]
	path = subprojects/luasocket/luasocket
	url = https://github.com/lunarmodules/luasocket
[submodule "subprojects/cffi-lua/cffi-lua"]
	path = subprojects/cffi-lua/cffi-lua
	url = https://github.com/q66/cffi-lua
[submodule "subprojects/luasec/luasec"]
	path = subprojects/luasec/luasec
	url = https://github.com/brunoos/luasec
[submodule "subprojects/lua-openssl/lua-openssl"]
	path = subprojects/lua-openssl/lua-openssl
	url = https://github.com/zhaozg/lua-openssl
[submodule "subprojects/luv/luv"]
	path = subprojects/luv/luv
	url = https://github.com/luvit/luv
[submodule "subprojects/luasql-sqlite3/luasql"]
	path = subprojects/luasql-sqlite3/luasql
	url = https://github.com/lunarmodules/luasql
[submodule "subprojects/lua-cjson/lua-cjson"]
	path = subprojects/lua-cjson/lua-cjson
	url = https://github.com/openresty/lua-cjson
[submodule "subprojects/luafilesystem/luafilesystem"]
	path = subprojects/luafilesystem/luafilesystem
	url = https://github.com/lunarmodules/luafilesystem
[submodule "subprojects/luautf8/luautf8"]
	path = subprojects/luautf8/luautf8
	url = https://github.com/starwing/luautf8
[submodule "subprojects/lua-zlib/lua-zlib"]
	path = subprojects/lua-zlib/lua-zlib
	url = https://github.com/brimworks/lua-zlib
[submodule "subprojects/toml.lua/toml.lua"]
	path = subprojects/toml/toml.lua
	url = https://github.com/LebJe/toml.lua
[submodule "subprojects/toml.lua/sol2"]
	path = subprojects/toml/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "subprojects/toml.lua/magic_enum"]
	path = subprojects/toml/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "subprojects/toml.lua/tomlplusplus"]
	path = subprojects/toml/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "subprojects/lui/lui"]
	path = subprojects/lui/lui
	url = https://github.com/zhaozg/lui
[submodule "subprojects/lui/subprojects/libui/libui"]
	path = subprojects/lui/subprojects/libui/libui
	url = https://github.com/andlabs/libui
[submodule "subprojects/lanes/lanes"]
	path = subprojects/lanes/lanes
	url = https://github.com/LuaLanes/lanes
[submodule "subprojects/inspect.lua/inspect.lua"]
	path = subprojects/inspect.lua/inspect.lua
	url = https://github.com/kikito/inspect.lua
[submodule "subprojects/date/date"]
	path = subprojects/date/date
	url = https://github.com/Tieske/date
[submodule "subprojects/argparse/argparse"]
	path = subprojects/argparse/argparse
	url = https://github.com/luarocks/argparse
[submodule "subprojects/xml2lua/xml2lua"]
	path = subprojects/xml2lua/xml2lua
	url = https://github.com/manoelcampos/xml2lua
[submodule "subprojects/uuid/uuid"]
	path = subprojects/uuid/uuid
	url = https://github.com/Tieske/uuid
[submodule "subprojects/penlight/Penlight"]
	path = subprojects/penlight/Penlight
	url = https://github.com/lunarmodules/Penlight
[submodule "subprojects/lrexlib-pcre2/lrexlib"]
	path = subprojects/lrexlib-pcre2/lrexlib
	url = https://github.com/rrthomas/lrexlib
[submodule "subprojects/luasdl2/luasdl2"]
	path = subprojects/luasdl2/luasdl2
	url = https://github.com/Tangent128/luasdl2
[submodule "subprojects/ltui/ltui"]
	path = subprojects/ltui/ltui
	url = https://github.com/tboox/ltui
[submodule "subprojects/lyaml/lyaml"]
	path = subprojects/lyaml/lyaml
	url = https://github.com/gvvaughan/lyaml
[submodule "subprojects/winapi/winapi"]
	path = subprojects/winapi/winapi
	url = https://github.com/stevedonovan/winapi
[submodule "subprojects/luaposix/luaposix"]
	path = subprojects/luaposix/luaposix
	url = https://github.com/luaposix/luaposix
[submodule "subprojects/lua-protobuf/lua-protobuf"]
	path = subprojects/lua-protobuf/lua-protobuf
	url = https://github.com/starwing/lua-protobuf
