build/*
extra/*
lua/*
subprojects/luaossl-rel-20220711/*
subprojects/lua-5.4.4/*
subprojects/LuaJIT-2.1.0-beta3/*
subprojects/openssl-0.8.3-1/*
subprojects/lanes-3.16.0/*
subprojects/ltui-2.7/*
subprojects/lua-protobuf-0.4.2/*
subprojects/lua-cjson-2.1.0.12/*
subprojects/luautf8-0.1.5/*
subprojects/luasec-1.3.0/*
subprojects/luasocket-3.1.0/*
subprojects/luafilesystem-1_8_0/*
subprojects/winapi-1.4.2/*
subprojects/luaposix-36.1/*
subprojects/argparse-0.7.1/*
subprojects/Penlight-1.13.1/*
subprojects/luarocks-3.9.2/*
subprojects/inspect.lua-3.1.3/*
subprojects/date-version_2.2/*
subprojects/uuid-0.3/*
subprojects/xml2lua-1.6-1/*
subprojects/cffi-lua-0.2.3/*
subprojects/lyaml-6.2.8/*
subprojects/packagecache/*

subprojects/freetype-2.12.1/*
subprojects/libffi-3.4.4/*
subprojects/libjpeg-turbo-2.1.3/*
subprojects/libogg-1.3.5/*
subprojects/libpng-1.6.37/*
subprojects/libuv-v1.44.2/*
subprojects/libvorbis-1.3.7/*
subprojects/openssl-3.0.7/*
subprojects/pcre2-10.40/*
subprojects/SDL2-2.24.2/*
subprojects/SDL2_image-2.6.2/*
subprojects/SDL2_mixer-2.6.2/*
subprojects/SDL2_net-2.2.0/*
subprojects/SDL2_ttf-2.0.12/*
subprojects/sqlite-amalgamation-3390400/*
subprojects/yaml-0.2.5/*
subprojects/tiff-4.4.0/*
subprojects/zlib-1.2.13/*

subprojects/freetype2.wrap
subprojects/libuv.wrap
subprojects/libjpeg-turbo.wrap
subprojects/libpng.wrap
subprojects/libtiff.wrap
subprojects/ogg.wrap
subprojects/pcre2.wrap
subprojects/sdl2.wrap
subprojects/sdl2_image.wrap
subprojects/sdl2_mixer.wrap
subprojects/sdl2_net.wrap
subprojects/sdl2_ttf.wrap
subprojects/sqlite3.wrap
subprojects/vorbis.wrap
