[submodule "subprojects/luajit/LuaJIT"]
	path = subprojects/luajit/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT
[submodule "subprojects/luarocks/luarocks"]
	path = subprojects/luarocks/luarocks
	url = https://github.com/luarocks/luarocks
[submodule "subprojects/luasocket/luasocket"]
	path = subprojects/luasocket/luasocket
	url = https://github.com/lunarmodules/luasocket
[submodule "subprojects/cffi-lua/cffi-lua"]
	path = subprojects/cffi-lua/cffi-lua
	url = https://github.com/q66/cffi-lua
[submodule "subprojects/luasec/luasec"]
	path = subprojects/luasec/luasec
	url = https://github.com/brunoos/luasec
[submodule "subprojects/lua-openssl/lua-openssl"]
	path = subprojects/lua-openssl/lua-openssl
	url = https://github.com/zhaozg/lua-openssl
